@model List<MPMAR.Data.SocialMedia>
@{
    ViewData["Title"] = "SocialMediaLinks";
}
@{
    string lang = Context.Request.Query["lang"];
}

@foreach (var item in Model.Select(i => new { i.SocialMediaName, i.Link }).Distinct())
{
    if (item.SocialMediaName?.ToLower() == "linkedin")
    {

        <li class="@item.SocialMediaName?.ToLower() socialMedia"><a style="background-color:#0e76a8;"  href="@item.Link" class="tooltip-ontop" title="" target="_blank" data-original-title="@item.SocialMediaName"><i class="icons icon-@item.SocialMediaName?.ToLower()"></i></a></li>
    }
    else
    {

        <li class="@item.SocialMediaName?.ToLower() socialMedia"><a href="@item.Link" class="tooltip-ontop" title="" target="_blank" data-original-title="@item.SocialMediaName"><i class="icons icon-@item.SocialMediaName?.ToLower()"></i></a></li>
    }
}

<style>
    .en {
        direction: ltr;
    }
</style>
