@model CityPlanYearEditViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}




<div>
    <h4><a asp-controller="StaticPageRoute" asp-action="Index">Static Page</a> >  <a asp-controller="CityPlan" asp-action="Index">Citizen Plan</a> > <a asp-controller="CityPlanYear" asp-action="Index" asp-route-cityPlanId="@Model.CityPlanId">Year Plan</a> > Edit</h4>
</div>

<form enctype="multipart/form-data" asp-controller="CityPlanYear" asp-action="Edit" method="post" class="mt-3">

    <input asp-for="Id" type="hidden" />
    <input asp-for="CityPlanId" type="hidden" />
    <input asp-for="IsDeleted" type="hidden" />
    <input asp-for="VersionStatusEnum" type="hidden" />
    <input asp-for="ChangeActionEnum" type="hidden" />
    <input asp-for="CityPlanYearId" type="hidden" />
    <input asp-for="CreatedById" type="hidden" />
    <input asp-for="CreationDate" type="hidden" />
    <input asp-for="EnFileUrl" type="hidden" />
    <input asp-for="ArFileUrl" type="hidden" />


    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Year</label>
        <div class="col-sm-10">
            @Html.DropDownList("GovYear", null, "--Please select a year--", htmlAttributes: new { @class = "form-control" })
            <span asp-validation-for="@Model.GovYear" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Governorate</label>
        <div class="col-sm-10">
            @Html.DropDownList("DFGovId", null, "--Please select GovName--", htmlAttributes: new { @class = "form-control" })
            <span asp-validation-for="@Model.GovName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row" style="display:none;">
        <label asp-for="EnFileUrl" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <div class="custom-file">
                <input asp-for="EnFileUrl" class="form-control" />
                <span asp-validation-for="EnFileUrl" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="EnFile" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <div class="custom-file">
                <input asp-for="EnFile" class="form-control custom-file-input" accept=".pdf, .doc, .docx, .xlsx, .xls, .csv, .pptx, .ppt" />
                <label class="custom-file-label">Choose File...</label>
                <span asp-validation-for="EnFile" class="text-danger"></span>
            </div>
        </div>
    </div>


    @if (!string.IsNullOrEmpty(Model.EnFileUrl))
    {
        <p style="margin-left:200px">@Model.EnFileUrl.Split("_")[1]</p>
    }


    <div class="form-group row">
        <label asp-for="ArFile" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <div class="custom-file">
                <input asp-for="ArFile" class="form-control custom-file-input" accept=".pdf, .doc, .docx, .xlsx, .xls, .csv, .pptx, .ppt" />
                <label class="custom-file-label">Choose File...</label>
                <span asp-validation-for="ArFile" class="text-danger"></span>
            </div>
        </div>
    </div>

    @if (!string.IsNullOrEmpty(Model.ArFileUrl))
    {
        <p style="margin-left:200px">@Model.ArFileUrl.Split("_")[1]</p>
    }



    <div class="form-group row">
        <label asp-for="IsActive" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="IsActive" class="flat" />
            <span asp-validation-for="IsActive" class="text-danger"></span>
        </div>
    </div>

    <div class="item form-group">
        <div class="col-md-6 col-sm-6 offset-md-2">
            <button type="submit" class="btn btn-success">Submit</button>
            <a asp-controller="CityPlanYear" asp-action="Index" asp-route-cityPlanVerId="@Model.CityPlanId" type="button" class="btn btn-primary">Cancel</a>
        </div>
    </div>
</form>

@section Scripts{
    <script>
        /* Enable html editor */
        $(document).ready(function () {
            $('.summernote').summernote({
                height: 200,
                toolbar: [['style', ['style']], ['font', ['bold', 'underline', 'clear']], ['fontname', ['fontname']], ['color', ['color']], ['para', ['ul', 'ol', 'paragraph']], ['table', ['table']], ['insert', ['link']], ['view', ['fullscreen', 'codeview', 'help']]]
            });
        });
        $(document).ready(function () {
            $('.custom-file-input').on('change', function () {
                var fileName = $(this).val().split('\\').pop();
                // $(this).next('.custom-file-label').html(fileName);
                var ext = $(this).val().split('.').pop().toLowerCase();
                if (ext == 'pdf' || ext == 'doc'
                    || ext == 'docx'
                    || ext == 'xlsx'
                    || ext == 'xls'
                    || ext == 'csv'
                    || ext == 'pptx'
                    || ext == 'ppt'
                ) {
                    $(this).next('.custom-file-label').html(fileName);
                }
                else {

                    $(this).val("")
                    if (fileName != "") {

                        alert('Please upload Document file only.');
                    } else {
                        $(this).next('.custom-file-label').html("Choose File...");
                    }
                    return false;
                }
            });
        });
    </script>
}