@model PageMinistryEditViewModel
@{
    ViewBag.Title = "Page Ministry";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

<style>
    td.h5 {
        white-space: -moz-pre-wrap !important;
        white-space: -webkit-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        white-space: pre-wrap;
        word-wrap: break-word;
        word-break: break-all;
        white-space: normal;
        PADDING: 8px;
    }

    td.h6 {
        line-height: 1.4 !important;
        PADDING: 8px;
    }

    table, th, td {
        border: 1px solid black;
    }
</style>



<div>
    <h4><a asp-controller="StaticPageRoute" asp-action="Index">Static Page</a> > <a asp-controller="PageMinistry" asp-action="Index"  asp-route-approvalId="@ViewBag.approvalId" asp-route-pageRouteId="@Model.PageRouteId">Page Ministry</a> > Detail</h4>
</div>

<table class="pull-left col-md-12 ">
    <tbody>
        <tr>
            <td class="h6" style="width: 30%"><strong><label asp-for="EnName"></label></strong></td>
            <td class="h5">@Model.EnName</td>
        </tr>

        <tr>
            <td class="h6"><strong><label asp-for="ArName"></label></strong></td>
            <td class="h5">@Model.ArName</td>
        </tr>
        @if (Model.Id == 1017)
        {
            <tr>
                <td class="h6"><strong>Section Type</strong></td>
                <td class="h5">@Model.ArContent</td>
            </tr>
            @foreach (var item in Model.EnContent.Split(','))
            {
                <tr>
                    <td class="h6"><strong>@item.Split(';')[0] </strong></td>
                    <td class="h5">@item.Split(';')[1]</td>
                </tr>
            }

        }
        else
        {
            <tr>
                <td class="h6"><strong>English Details </strong></td>
                <td class="h5">@Html.Raw(Model.EnContent)</td>
            </tr>

            <tr>
                <td class="h6"><strong>Arabic Details</strong></td>
                <td class="h5">@Html.Raw(Model.ArContent)</td>
            </tr>

            <tr>
                <td class="h6"><strong><label asp-for="Order"></label></strong></td>
                <td class="h5">@Model.Order</td>
            </tr>

            <tr>
                <td class="h6"><strong><label asp-for="IsActive"></label></strong></td>
                <td class="h5">@(Model.IsActive ? "Yes" : "No") </td>
            </tr>

            @*<tr>
                <td class="h6"><strong><label asp-for="IsSection"></label></strong></td>
                <td class="h5">@(Model.IsSection ? "Yes" : "No") </td>
            </tr>*@
            <tr>
                <td class="h6"><strong><label asp-for="IsDobulQuote"></label></strong></td>
                <td class="h5">@(Model.IsDobulQuote ? "Yes" : "No") </td>
            </tr>
            <tr>
                <td class="h6"><strong><label asp-for="ImageUrl"></label></strong></td>
                <td>
                    <img src="@Model.ImageUrl" class="thumpnail-edit-image" asp-append-version="true" />
                </td>
            </tr>
            <tr>
                <td class="h6"><strong><label asp-for="EnImageUrl"></label></strong></td>
                <td>
                    <img src="@Model.EnImageUrl" class="thumpnail-edit-image" asp-append-version="true" />
                </td>
            </tr>
            <tr>
                <td class="h6"><strong><label asp-for="SeoTitleEN"></label></strong></td>
                <td class="h5">@Model.SeoTitleEN</td>
            </tr>

            <tr>
                <td class="h6"><strong><label asp-for="SeoTitleAR"></label></strong></td>
                <td class="h5">@Model.SeoTitleAR</td>
            </tr>

            <tr>
                <td class="h6"><strong><label asp-for="SeoDescriptionEN"></label></strong></td>
                <td class="h5">@Model.SeoDescriptionEN</td>
            </tr>

            <tr>
                <td class="h6"><strong><label asp-for="SeoDescriptionAR"></label></strong></td>
                <td class="h5">@Model.SeoDescriptionAR</td>
            </tr>

            <tr>
                <td class="h6"><strong><label asp-for="SeoOgTitleEN"></label></strong></td>
                <td class="h5">@Model.SeoOgTitleEN</td>
            </tr>

            <tr>
                <td class="h6"><strong><label asp-for="SeoOgTitleAR"></label></strong></td>
                <td class="h5">@Model.SeoOgTitleAR</td>
            </tr>

            <tr>
                <td class="h6"><strong><label asp-for="SeoTwitterCardEN"></label></strong></td>
                <td class="h5">@Model.SeoTwitterCardEN</td>
            </tr>

            <tr>
                <td class="h6"><strong><label asp-for="SeoTwitterCardAR"></label></strong></td>
                <td class="h5">@Model.SeoTwitterCardAR</td>
            </tr>
        }

    </tbody>
</table>
<div>
    <div class="col-md-4 col-sm-4" style="padding-top: 10px;">

        <a asp-controller="PageMinistry" asp-route-approvalId="@ViewBag.approvalId" asp-action="Index" asp-route-pageRouteId="@Model.PageRouteId" type="button" class="btn btn-success">Back to previous page</a>
    </div>
</div>