@model MPMAR.Web.Admin.ViewModels.PageRouteEditViewModel
@using MPMAR.Common

@{ 

        string approvalId = Context.Request.Query["approvalId"];
    int approvalIdInt = 0;
    int.TryParse(approvalId, out approvalIdInt);

    var bEUsersPrivilegesViewModel = bEUsersPrivilegesService.ValidateIBEUsersPrivilegesViewService(PrivilegesPageType.StaticPage, this.User.FindFirstValue(ClaimTypes.NameIdentifier), this.User.IsInRole(UserRolesConst.SuperAdmin), approvalId: approvalIdInt);
}

<form asp-action="" method="post" class="mt-3" onsubmit="DisableAfterClick(event,this)">
    <input asp-for="Id" type="hidden" />
    <input asp-for="CreatedById" type="hidden" />
    <input asp-for="CreationDate" type="hidden" />
    <input asp-for="ControllerName" type="hidden" />
    <input asp-for="ActionName" type="hidden" />
    <input asp-for="SectionName" type="hidden" />
    <input asp-for="HasNavItem" type="hidden" />
    <input asp-for="PageType" type="hidden" />
    <input asp-for="IsDynamicPage" type="hidden" />
    <input asp-for="VersionStatusEnum" type="hidden" />
    <input asp-for="PageRouteId" type="hidden" />
    <input asp-for="ChangeActionEnum" type="hidden" />

    <div class="form-group row">
        <label asp-for="EnName" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="EnName" class="form-control" placeholder="English Name" />
            <span asp-validation-for="EnName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="ArName" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="ArName" class="form-control" placeholder="Arabic Name" />
            <span asp-validation-for="ArName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Order" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Order" class="form-control" placeholder="Order from left to right" />
            <span asp-validation-for="Order" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="NavItemId" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select asp-disabled="@(!Model.HasNavItem)" asp-for="NavItemId" asp-items="Model.AllNavItems" class="form-control">
                <option value="">Select Nav Item</option>
            </select>
            <span asp-validation-for="NavItemId" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="IsActive" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="IsActive" class="flat" />
            <span asp-validation-for="IsActive" class="text-danger"></span>
        </div>
    </div>

    <div class="ln_solid"></div>
    <h3>Search Engine Optimization Data</h3>

    <div class="form-group row">
        <label asp-for="SeoTitleEN" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="SeoTitleEN" class="form-control" placeholder="English Page Title" />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="SeoTitleAR" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="SeoTitleAR" class="form-control" placeholder="Arabic Page Title" />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="SeoDescriptionEN" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="SeoDescriptionEN" class="form-control" placeholder="English Page Description" />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="SeoDescriptionAR" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="SeoDescriptionAR" class="form-control" placeholder="Arabic Page Description" />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="SeoOgTitleEN" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="SeoOgTitleEN" class="form-control" placeholder="English Facebook Og Title" />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="SeoOgTitleAR" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="SeoOgTitleAR" class="form-control" placeholder="Arabic Facebook Og Title" />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="SeoTwitterCardEN" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="SeoTwitterCardEN" class="form-control" placeholder="English Twitter Card" />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="SeoTwitterCardAR" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="SeoTwitterCardAR" class="form-control" placeholder="Arabic Twitter Card" />
        </div>
    </div>

    <div class="item form-group">
        <div class="col-md-6 col-sm-6 offset-md-2">
            @{
                var disabled = Model.VersionStatusEnum == VersionStatusEnum.Submitted;
            }

            @if (bEUsersPrivilegesViewModel.CanApprove && bEUsersPrivilegesViewModel.IsFromApprovalPage)
            {
                <a asp-action="Approve" asp-route-id="@Model.Id" asp-route-approvalId="@ViewBag.ApprovalId" type="button" class="btn btn-primary" onclick="DisableAfterClick(event,this)">Approve</a>
                <a asp-action="Ignore" asp-route-id="@Model.Id" asp-route-approvalId="@ViewBag.ApprovalId" type="button" class="btn btn-primary" onclick="DisableAfterClick(event,this)">Ignore</a>
            }
            else
            {
                if (bEUsersPrivilegesViewModel.CanSubmit && !bEUsersPrivilegesViewModel.IsFromApprovalPage)
                {
                    <button type="submit" class="btn btn-success" formaction="Edit" disabled="@disabled">Save</button>
                    <button type="submit" class="btn btn-success" formaction="SubmitChanges">Save & Submit</button>

                    <a asp-action="Index" type="button" class="btn btn-primary">Cancel</a>
                }
            }




        </div>
    </div>
</form>


