@model FooterMenuItemViewModel
@{
    ViewBag.Title = "Footer Menu Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
<style>
    td.h5 {
        white-space: -moz-pre-wrap !important;
        white-space: -webkit-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        white-space: pre-wrap;
        word-wrap: break-word;
        word-break: break-all;
        white-space: normal;
        PADDING: 8px;
    }

    td.h6 {
        line-height: 1.4 !important;
        PADDING: 8px;
    }

    table, th, td {
        border: 1px solid black;
    }
</style>

@*<h1>Footer Menu Details</h1>*@



<div>
    <h4>Definitions > <a asp-controller="FooterMenuItem" asp-action="Index" asp-route-approvalId="@ViewBag.approvalId">Footer Menu Item </a> > Detail</h4>
</div>

<table class="pull-left col-md-12 ">
    <tbody>
        <tr>
            <td class="h6" style="width: 30%"><strong><label asp-for="EnTitle"></label></strong></td>
            <td class="h5">@Model.EnTitle</td>
        </tr>

        <tr>
            <td class="h6"><strong><label asp-for="ArTitle"></label></strong></td>
            <td class="h5">@Model.ArTitle</td>
        </tr>

        <tr>
            <td class="h6"><strong><label asp-for="Link"></label></strong></td>
            <td class="h5">@Model.Link</td>
        </tr>

        <tr>
            <td class="h6"><strong><label asp-for="Order"></label></strong></td>
            <td class="h5">@Model.Order</td>
        </tr>

        <tr>
            <td class="h6"><strong><label asp-for="IsActive"></label></strong></td>
            <td class="h5">@(Model.IsActive ? "Yes" : "No") </td>
        </tr>


    </tbody>
</table>

<div>
    <div class="col-md-4 col-sm-4" style="padding-top: 10px;">
       
        <a asp-controller="FooterMenuItem" asp-route-approvalId="@ViewBag.approvalId" asp-action="Index" type="button" class="btn btn-success">Back to previous page</a>
    </div>
</div>